@charset "UTF-8";

@import url(reset.css); 
@import url(font.css); 
@import url(aos.css); /* AOS 애니메이션 기본 설정 */

body { background-image: url("../images/Background.jpg"); object-fit: cover; overflow-x: hidden; margin: 0 auto; padding: 0; width: 100%; height: 100vh; user-select: none; /* 텍스트 선택 방지 */
-webkit-user-select: none; /* Safari와 Chrome 브라우저용 */
-moz-user-select: none; /* Firefox 브라우저용 */
-ms-user-select: none; /* Internet Explorer/Edge 브라우저용 */}

.star_mouse { position: absolute; pointer-events: none; top: 280px; left: 50%; border-radius: 50%;  z-index: 10; margin-left: -590px; transition: 3s;}

 .star_mouse figure{background: #fff; 
    box-shadow: 0 0px 20px #06d2da,
                0 0px 30px #f71919,
                0 0px 40px #fffb0c; animation: starMouse .1s infinite alternate; position: absolute; transition: 3s cubic-bezier(.13,.56,.07,1.01); }
    @keyframes starMouse {
        0% {box-shadow: 0 0px 20px #06d2da,
            0 0px 30px #f71919,
            0 0px 40px #fffb0c; }
        100% {box-shadow: 0 0px 10px #06d2da,
            0 0px 10px #f71919,
            0 0px 10px #fffb0c; }
        }
            
 .star_mouse figure:nth-child(1){width: 10px;height: 10px; position: absolute; margin-left: 60px; top: 30px; border-radius: 50%; transform: rotate(30deg); transition-delay: 0.01s;}
 .star_mouse figure:nth-child(2){width: 5px;height: 5px; position: absolute; margin-left: 30px; top: 30px; border-radius: 50%; transform: rotate(20deg); transition-delay: 0.04s;}
 .star_mouse figure:nth-child(3){width: 15px;height: 15px; position: absolute; margin-left: 50px; top: 50px; border-radius: 50%;transition-delay: 0s;}
 .star_mouse img {width: 180%; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}


#visitorCount {opacity: 0.2; color: #5D616D;}
button {opacity: 0.2; color: #5D616D;}
 


header { margin: 0 auto; } 
header .container { position: relative; text-align: center;}
header .container .dal { position: relative;}
header .container .dal:before {content: ""; position: absolute; background: #fff; width: 620px; height: 630px; left: 50%; top: 50%; transform: translate(-50%,-50%); border-radius: 50%; box-shadow: 0 0 200px #fff,0 0 50px #fff; animation: dal 2s forwards;}
@keyframes dal { 
    0% {box-shadow: 0 0 2000px #8e2aa7,0 0 1000px #fff; } 
    70% {box-shadow: 0 0 50px #1f7a86,0 0 50px #fff;  } 
    100% {box-shadow: 0 0 100px #513674,0 0 50px #fff;  } 
 }
header .container img.moon { width: auto; /* 배경 이미지 크기 조정 */ margin: 20px; animation: moon 18s infinite; }
@keyframes moon { 
    0%, 100% { transform: translateY(0); } 
    50% { transform: translateY(25px); } 
 }
header .container img { width: auto; /* 배경 이미지 크기 조정 */ margin: 20px; } 

header .container h1 {width: 100%; position: absolute; top: 50%; left: 52%; transform: translate(-50%, -50%); color: white; font-size: 80px; font-weight: bold; letter-spacing: -0.1em; font-family: 'Pretendard-Bold'; /* 텍스트 그림자 */ text-align: center;}
header .container h1 span {font-size: 200px; position: relative; animation: h1Text 3s forwards; top: 100px; opacity: 0; color: #aaa;}
@keyframes h1Text {
    0% {top: 80px; opacity: 0;}
    10% {top: 30px; opacity: 1;}
    30% {top: 60px; opacity: 0.5;}
    60% {top: 40px; opacity: 1;}
    70% {opacity: 1; color: #aaa;}
    80% {opacity: 1; color: #fff;}
    100% {top: 20px; opacity: 1; color: #eee;}
}
header .container h1 span:nth-child(1) {animation-delay: 0.1s;}
header .container h1 span:nth-child(2) {animation-delay: 0.2s;}
header .container h1 span:nth-child(3) {animation-delay: 0.3s;}
header .container h1 span:nth-child(4) {animation-delay: 0.4s;}
header .container h1 span:nth-child(5) {animation-delay: 0.5s;}
header .container h1 span:nth-child(6) {animation-delay: 0.6s;}
header .container h1 span:nth-child(7) {animation-delay: 0.7s;}
header .container h1 span:nth-child(8) {animation-delay: 0.8s;}
header .container h1 span:nth-child(9) {animation-delay: 0.9s;}
header .container h1 span:nth-child(10) {animation-delay: 1s;}

header .container h1 span:before {content: attr(data-h1); position: absolute; left: 0; top: 6px; color: #aaa; text-shadow: 4px 4px 10px rgba(0, 0, 0, 0);  animation: h1Text2 1s forwards; top: 6px; opacity: 0; z-index: -1;text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); }
@keyframes h1Text2 {
    0% {opacity: 0; }
    30% {opacity: 0.5;}
    60% {opacity: 0.5; color: #fff;}
    100% {opacity: 1;}
}
header .container h1 span:nth-child(1):before {animation-delay: 0.3s;}
header .container h1 span:nth-child(2):before {animation-delay: 0.4s;}
header .container h1 span:nth-child(3):before {animation-delay: 0.5s;}
header .container h1 span:nth-child(4):before {animation-delay: 0.6s;}
header .container h1 span:nth-child(5):before {animation-delay: 0.7s;}
header .container h1 span:nth-child(6):before {animation-delay: 0.8s;}
header .container h1 span:nth-child(7):before {animation-delay: 0.9s;}
header .container h1 span:nth-child(8):before {animation-delay: 1.0s;}
header .container h1 span:nth-child(9):before {animation-delay: 1.1s;}
header .container h1 span:nth-child(10):before {animation-delay: 1.2s;}





header .container h2 { position: absolute; top: 40%; left: 28%; transform: translate(-50%, -50%); color: white; font-size: 20px; letter-spacing: 1px;} 

header .star0 {transform-origin: center; position: absolute; width: 100%; left: 50%; top: 50%; transform: translate(-50%, -50%); }

header .star0 ul {} 
header .star0 ul li.left { position: absolute; top: 120px; left: 60px; animation: starbox1 3s forwards; } 
@keyframes starbox1 {
    0% {transform:translate(-50%, -50%) rotate(-90deg);}
    100% {transform:translate(-50%, -50%) rotate(-70deg);}
}

header .star0 ul li.left figure { position: absolute; top: 120px; left: 60px; width: 30px;height: 30px; border-radius: 50%; background: #fff;
    box-shadow: 0 0px 30px #fff,
                0 0px 40px #1f7a86,
                0 0px 50px #fff; animation: star1 1s forwards; opacity: 0;}

                @keyframes star1 {
                    0% {margin-top: 1000px; opacity: 0;}
                    20% {opacity: 1;}
                    100% {margin-top: 0; opacity: 1;}
                }
header .star0 ul li.left figure:nth-child(1) {left: 0; top: 200px; transform: scale(1) rotate(10deg);}
header .star0 ul li.left figure:nth-child(2) {left: 110px; top: 30px; transform: scale(0.5) rotate(20deg); animation-delay: 0.1s;}
header .star0 ul li.left figure:nth-child(3) {left: 180px; top: 260px; transform: scale(0.8) rotate(5deg); animation-delay: 0.5s;}
header .star0 ul li.left figure:nth-child(4) {left: 150px; top: 200px; transform: scale(0.3) rotate(10deg); animation-delay: 0.3s;}
header .star0 ul li.left figure:nth-child(5) {left: 170px; top: 150px; transform: scale(0.4) rotate(10deg); animation-delay: 0.2s;}
header .star0 ul li.left figure:nth-child(6) {left: 140px; top: 80px; transform: scale(0.4) rotate(30deg); animation-delay: 0.5s;}
header .star0 ul li.left figure:nth-child(7) {left: 0px; top: 140px; transform: scale(0.5) rotate(10deg); animation-delay: 0.6s;}
header .star0 ul li.left figure:nth-child(8) {left: 230px; top: 160px; transform: scale(0.8) rotate(40deg); animation-delay: 0.7s;}
/* header .star0 ul li.left figure:nth-child(9) {left: 0; top: 200px; transform: scale(0.4) rotate(10deg);} */
header .star0 ul li.left figure img { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); } 


header .star0 ul li.right { position: absolute; top: 20%; left: 50%; animation: starbox2 3s forwards; transform-origin: center; opacity: 0;} 
@keyframes starbox2 {
    0% {transform:translate(-50%, -50%) rotate(90deg);width: 0%; opacity: 0;}
    100% {transform:translate(-50%, -50%) rotate(-30deg);width: 100%; opacity: 1;}
}

header .star0 ul li.right { position: absolute; top: 120px; right: 60px; } 
header .star0 ul li.right figure { position: absolute; top: 120px; right: 60px; width: 30px;height: 30px; border-radius: 50%; background: #fff;
    box-shadow: 0 0px 30px #fff,
                0 0px 40px #8e2aa7,
                0 0px 50px #fff; animation: star2 5s forwards;}

                @keyframes star2 {
                    0% {margin-top: 1000px; }
                    100% {margin-top: 0; }
                }
header .star0 ul li.right figure:nth-child(1) {right: 0; top: 200px; transform: scale(1) rotate(10deg);}
header .star0 ul li.right figure:nth-child(2) {right: 110px; top: 30px; transform: scale(0.5) rotate(20deg); animation-delay: 0.1s;}
header .star0 ul li.right figure:nth-child(3) {right: 180px; top: 260px; transform: scale(0.8) rotate(5deg); animation-delay: 0.5s;}
header .star0 ul li.right figure:nth-child(4) {right: 150px; top: 200px; transform: scale(0.3) rotate(10deg); animation-delay: 0.3s;}
header .star0 ul li.right figure:nth-child(5) {right: 170px; top: 150px; transform: scale(0.4) rotate(10deg); animation-delay: 0.2s;}
header .star0 ul li.right figure:nth-child(6) {right: 140px; top: 80px; transform: scale(0.4) rotate(30deg); animation-delay: 0.5s;}
header .star0 ul li.right figure:nth-child(7) {right: 0px; top: 140px; transform: scale(0.5) rotate(10deg); animation-delay: 0.6s;}
header .star0 ul li.right figure:nth-child(8) {right: 230px; top: 160px; transform: scale(0.8) rotate(40deg); animation-delay: 0.7s;}
/* header .star0 ul li.right figure:nth-child(9) {right: 0; top: 200px; transform: scale(0.4) rotate(10deg);} */
header .star0 ul li.right figure img { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); } 





header .star0 ul li.left2 { position: absolute; top: 70%; left: 10px; } 
header .star0 ul li.right2 { position: absolute; right: 60px; } 


.star_fixed {}



#profile { width: 1444px; height: 820px; background: rgb(255, 255, 255, 0.2); margin: 0 auto; border-radius: 20px; position: relative; margin-top: 300px; } 
#profile h1 { padding: 20px 0 0 50px; color: #fff; font-family: 'JalnanGothic'; font-size: 40px; } 
#profile h2 { position: absolute; top: 10%; left: 35px; z-index: 1; font-family: 'Pretendard-Bold'; perspective: 200px;} 
#profile h2 .back {width: 220px; height: 220px; border-radius: 50%; position: absolute; overflow: hidden; top: 70px;}
#profile.on h2 .back {animation: proBack 3s forwards;}
@keyframes proBack {
    0% {top: 70px;}
    100% {top:0px;}
    
} 
#profile h2 .back img {position: absolute; right: 0; top: 0; }
#profile.on h2 .back img {animation: proBackImg 3s forwards;}
@keyframes proBackImg {
    0% {top: 0px;}
    100% {top: -50px;}
}
#profile h2 .char {position: absolute; z-index: 2;} 
#profile h2 .char img {position: absolute; z-index: 2; opacity: 0;}
#profile.on h2 .char img {animation: proChar 3s forwards; }
@keyframes proChar {
    0% {left: 0px; opacity: 0;}
    100% {left: 90px; opacity: 1;}
}


#profile span.ex { position: absolute; top: 20%; left: 20%; font-size: 24px; color: #fff; line-height: 50px; width: 350px; } 
/* license */
#profile .license { width: 703px; height: 380px; background: rgb(255, 255, 255, 0.5); border: 4px solid #fff; position: absolute; left: 45px; bottom: 45px; } 
#profile .license h3 { font-size: 40px; padding: 20px 30px; font-family: 'Pretendard-Light'; } 
#profile .license ul { display: flex; justify-content: space-between; align-items: baseline; } 
#profile .license ul li.title { font-size: 24px; float: left; margin: 25px 0 0 30px;} 
#profile .license ul li.date { font-size: 22px; float: right; margin-right: 25px;} 
/* career */
#profile .career { width: 593px; height: 378px; background: rgb(255, 255, 255, 0.5); border: 4px solid #fff; position: absolute; top: 85px; right: 45px; } 
#profile .career h3 { font-size: 40px; padding: 20px 30px; font-family: 'Pretendard-Light'; } 
#profile .career ul { display: flex; justify-content: space-between; align-items: end; } 
#profile .career ul li.title { font-size: 22px; float: left; margin: 30px 0 0 30px; } 
#profile .career ul li.date { font-size: 22px; float: right; margin: 40px 40px 0 0; } 

#profile .skill { width: 593px; height: 236px; background: rgb(255, 255, 255, 0.5); border: 4px solid #fff; position: absolute; bottom: 44px; right: 45px; } 
#profile .skill h3 { font-size: 40px; padding: 20px 30px; font-family: 'Pretendard-Light'; } 
#profile .skill ul { display: flex; gap: 25px; justify-content: center; align-items: center; margin-top: 20px; } 
#profile .skill ul li { } 
#profile .skill ul li img { } 
#profile .star ul {} 
#profile .star ul li.left { position: absolute; top: -42%; left: -10%; } 
#profile .star ul li.right { position: absolute; top: -15%; right: -12%; } 
#profile .star ul li.left2 { position: absolute; left: -10%; bottom: -35%; } 
#profile .star ul li.right2 { position: absolute; right: -12%; bottom: -10%; } 

/* WEB SITE */
#website { padding-top: 15%; position: relative; height: 3000px;} 
#website h1 { font-size: 72px; text-align: center; color: #fff; font-family: 'JalnanGothic'; text-shadow: 4px 5px 14px rgba(0, 0, 0, 0.4); position: relative; } 
#website h1::before { content: ""; position: absolute; width: 25%; height: 10px; background: #000; bottom: 15px; left: 38%; z-index: -1; } 
/* side img */
#website .rock { position: absolute; width: 500px; display: flex; justify-content: center; align-items: center; transition: 2s; } 
#website .rock img { width: 100%; animation: floatAnimation 13s infinite; } 
#website .rock:nth-child(odd) { right: 0%; transform-origin: left;} 
#website .rock:nth-child(even) { left: -0%;  transform-origin: right} 
#website .rock:nth-child(1) { top: 15%; width: 30%; } 
#website .rock:nth-child(2) { top: 30%; width: 35%; } 
#website .rock:nth-child(3) { top: 50%; right: 8%; width: 35%; } 
#website .rock:nth-child(4) { top: 70%; } 
#website .rock:nth-child(5) { top: 80%; } 
#website .rock:nth-child(6) { top: 95%; } 

/* text */
#website .rock h2 span { color: #fff; text-shadow: 2px 2px 50px rgba(0, 0, 0, 0.5); } 
#website .rock h2 span { color: #fff; text-shadow: 2px 2px 50px rgba(0, 0, 0, 0.5); } 
#website .rock p span { color: #fff; font-family: 'Pretendard-Light'; line-height: 45px; text-shadow: 2px 2px 50px rgba(0, 0, 0, 0.8); } 

/* button */
#website .rock button { width: 140px; height: 50px; background: #ffa200; font-size: 20px; font-family: 'Pretendard-Bold'; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease-in-out; position: absolute; bottom: 8%; right: 50%; } 
#website .rock button.second {bottom: 5%; left: 50%; } 
#website .rock button.third {bottom: -5%; right: 25%; } 
#website .rock button.fourth {bottom: -7%; right: 25%; } 
#website .rock button.Fifth {bottom: 10%; right: 50%; } 
#website .rock button.Sixth {bottom: 5%; left: 40%; } 
#website .rock button a { color: #fff; display: block; } 
#website .rock button:hover { background-color: #ff8000; } 




#website .rock .explain {background:rgba(0, 0, 0, 0); position: absolute; width: 400px; height: 340px; padding: 20px; box-sizing: border-box; transition: 0.2s;}
#website .rock:hover .explain {background:rgba(0, 0, 0, 0.8);text-shadow: 0 0 10px rgba(0, 0, 0, 1);}
#website .rock .explain h2 {font-weight: lighter; margin-bottom: 20px;}
#website .rock .explain p {font-weight: lighter; font-size: 20px; line-height: 1.3; color: #e0b999;}
#website .rock .explain p span {line-height: 1.4}

/* nth(1) */
#website .rock:nth-child(1) .explain {top: 35%; right: 75%; }
#website .rock:nth-child(1):hover .explain {right: 90%; }
#website .rock:nth-child(1) h2 {text-align: right;color: #e0b999; font-family: 'Pretendard-Light' !important; }
#website .rock:nth-child(1) p {text-align: right;}
#website .rock:nth-child(1) p.design {text-align: right;color: #e0b999; margin-top: 20px;}
#website .rock:nth-child(1) p.publsing {text-align: right;color: #e0b999;}
#website .rock:nth-child(1) button {position: absolute; right: -50px; bottom: -60px;}

/* nth(2) */

/* nth(1) */
#website .rock:nth-child(2) .explain {top: 35%; left: 75%; }
#website .rock:nth-child(2):hover .explain { left: 90%; }
#website .rock:nth-child(2) h2 {text-align: left;color: #e0b999; font-family: 'Pretendard-Light' !important; }
#website .rock:nth-child(2) p {text-align: left;}
#website .rock:nth-child(2) p.design {text-align: left;color: #e0b999; margin-top: 20px;}
#website .rock:nth-child(2) p.publsing {text-align: left;color: #e0b999;}
#website .rock:nth-child(2) button {position: absolute; left: -50px; bottom: -60px;}

/* nth(3) */
#website .rock:nth-child(3) .explain {top: 35%; right: 0%; }
#website .rock:nth-child(3):hover .explain {right: 20%;}
#website .rock:nth-child(3) h2 {text-align: right;color: #e0b999; font-family: 'Pretendard-Light' !important; }
#website .rock:nth-child(3) p {text-align: right;}
#website .rock:nth-child(3) p.design {text-align: right;color: #e0b999; margin-top: 20px;}
#website .rock:nth-child(3) p.publsing {text-align: right;color: #e0b999;}
#website .rock:nth-child(3) button {position: absolute; right: 150px; bottom: -60px;}

/* nth(4) */
#website .rock:nth-child(4) .explain {top: 35%; left: 75%; }
#website .rock:nth-child(4):hover .explain { left: 90%; }
#website .rock:nth-child(4) h2 {text-align: left;color: #e0b999; font-family: 'Pretendard-Light' !important; }
#website .rock:nth-child(4) p {text-align: left;}
#website .rock:nth-child(4) p.design {text-align: left;color: #e0b999; margin-top: 20px;}
#website .rock:nth-child(4) p.publsing {text-align: left;color: #e0b999;}
#website .rock:nth-child(4) button {position: absolute; left: -50px; bottom: -60px;}

/* nth(5) */
#website .rock:nth-child(5) .explain {top: 35%; right: 75%; }
#website .rock:nth-child(5):hover .explain {right: 90%; }
#website .rock:nth-child(5) h2 {text-align: right;color: #e0b999; font-family: 'Pretendard-Light' !important; }
#website .rock:nth-child(5) p {text-align: right;}
#website .rock:nth-child(5) p.design {text-align: right;color: #e0b999; margin-top: 20px;}
#website .rock:nth-child(5) p.publsing {text-align: right;color: #e0b999;}
#website .rock:nth-child(5) button {position: absolute; right: -50px; bottom: -60px;}

/* nth(6) */
#website .rock:nth-child(6) .explain {top: 35%; left: 75%; }
#website .rock:nth-child(6):hover .explain { left: 90%; }
#website .rock:nth-child(6) h2 {text-align: left;color: #e0b999; font-family: 'Pretendard-Light' !important; }
#website .rock:nth-child(6) p {text-align: left;}
#website .rock:nth-child(6) p.design {text-align: left;color: #e0b999; margin-top: 20px;}
#website .rock:nth-child(6) p.publsing {text-align: left;color: #e0b999;}
#website .rock:nth-child(6) button {position: absolute; left: -50px; bottom: -60px;}

/* background */
#website .ballon li:nth-child(1) { position: absolute; top: 20%; left: 13%; z-index: -1; animation: floatAnimation 15s infinite; } 
#website .ballon li:nth-child(2) { position: absolute; right: -5%; bottom: -45%; z-index: -1; animation: floatAnimation 18s infinite reverse; } 
#website .ballon li:nth-child(2) img { width: 90%; } 

/* cloud */
#website .cloud li:nth-child(1) { position: absolute; top: 28%; right: -5%; z-index: -1; animation: floatAnimation 20s infinite; } 
#website .cloud li:nth-child(2) { position: absolute; top: 70%; left: -20%; z-index: -1; width: 30%; animation: floatAnimation 25s infinite reverse; } 
#website .cloud li:nth-child(3) { position: absolute; right: -40%; bottom: -45%; mix-blend-mode: screen; animation: floatAnimation 22s infinite; } 

/* @keyframes floatAnimation { 0%, 100% { transform: translateY(0); } 
 50% { transform: translateY(-50px); } 
 } */
.vertical-text { writing-mode: vertical-rl; text-orientation: upright; /* 필요에 따라 줄 간격, 폰트 크기 등 추가 스타일 */ line-height: 2; /* 글자 간격을 조절 */ font-size: 25px; position: absolute; left: 48%; bottom: -30%; text-align: center; color: #fff; animation: blink 6s infinite ease-in-out; transition: 0.5s; } 
@keyframes blink { 0%, 20% { opacity: 1; /* 처음과 20% 구간에서는 완전히 보임 */ } 
 40% { opacity: 0; /* 40% 구간에서 사라짐 */ } 
 60% { opacity: 0; /* 60% 구간까지 사라진 상태 유지 */ } 
 80%, 100% { opacity: 1; /* 80%에서 100% 구간에서 다시 부드럽게 나타남 */ } 
 }
/* App Design */
#app { padding-top: 60%; position: relative; z-index: -1; } 
#app .centerbox1200 { position: relative; } 
#app h1 { font-size: 72px; text-align: center; color: #fff; font-family: 'JalnanGothic'; /* text-shadow: 4px 5px 14px rgba(0, 0, 0, 0.4); */ position: relative; } 
#app h1::before { content: ""; position: absolute; width: 28%; height: 10px; background: #000; bottom: 15px; left: 36%; z-index: -3; }

/* text */
#app h2, p { line-height: 40px; /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) */; font-weight: bold; line-height: 45px;} 
#app h2 span { color: #fff; /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) */; } 
#app p span { color: #fff; font-family: 'Pretendard-Light'; line-height: 45px; /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);  */font-size: 28px;}

#app h2.title {color: #fff; font-size: 24px;}
#app p.info {line-height: 35px; font-size: 20px;}

.app_design {position: relative;}
.app_design ul {}
.app_design ul li {}
.app_design ul li.end {position: absolute; top: 0; right: 0;}
.app_design ul li img {width: 30%; animation: floatAnimation 16s infinite;}
/* @keyframes floatAnimation { 0%, 100% { transform: translateY(0); } 
 50% { transform: translateY(50px); } 
 } */
 .app_design ul li.end img {width: 30%; animation: floatAnimation 16s infinite;}
@keyframes floatAnimation { 0%, 100% {transform:translateY( 0); } 
 50% {transform:translateY( 50px); } 
 }
.app_design h2 {position: absolute; top: 10%; left: 25%; font-size: 30px; font-family: 'Pretendard-Light'; color: #000;}
.app_design p {position: absolute; top: 30%; left: 25%; font-size: 30px;}
.app_design p.design {position: absolute; top: 55%; font-size: 24px;}
.app_design p.tool {position: absolute; top: 65%; font-size: 24px;}
.app_design button {width: 140px; height: 50px; background: #ffa200; font-size: 20px; font-family: 'Pretendard-Light'; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease-in-out; position: absolute; top: 75%; left: 25%; }
.app_design button a { color: #fff; display: block; } 
.app_design button:hover { background-color: #ff8000; } 
.color ul li:nth-child(1) {position: absolute; top: 36%; left: 25%; width: 30px; height: 30px; border-radius: 50%;  border: 1px solid transparent; background: #E2FDFF;}
.color ul li:nth-child(2) {position: absolute; top: 36%; left: 30%; width: 30px; height: 30px; border-radius: 50%;  border: 1px solid transparent; background: #205AEF;}
.color ul li:nth-child(3) {position: absolute; top: 36%; left: 35%; width: 30px; height: 30px; border-radius: 50%;  border: 1px solid transparent; background: #FFD81B;}
.app-view {display: grid; grid-template-columns: repeat(3, 1fr); grid-auto-rows: minmax(200px, auto); gap: 40px; max-width: 1500px; margin: 80px auto; text-align: center;}
.app-item img { width: 80%; }









/* Banner */
.banner_view {width: 100%; height: 100vh; position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, .9); z-index: 777; color: #e0b999; display: flex; justify-content: center; align-items: center; text-align: center; display: none; }

.banner_view h2 {text-align: center; font-family: 'Pretendard-Light'; font-weight: lighter; margin: 20px 0;}
.banner_view p {text-align: center; font-family: 'Pretendard-Light'; font-weight: lighter; line-height: 1.5;}



#banner {position: relative; z-index: -1; } 
#banner .centerbox1200 { position: relative; } 
#banner h1 { font-size: 72px; text-align: center; color: #fff; font-family: 'JalnanGothic'; text-shadow: 4px 5px 14px rgba(0, 0, 0, 0.4); position: relative; } 
#banner h1::before { content: ""; position: absolute; width: 28%; height: 10px; background: #000; bottom: 15px; left: 36%; z-index: -3; } 
.banner-grid { display: grid; grid-template-columns: repeat(2, 1fr); grid-auto-rows: minmax(200px, auto); gap: 40px; max-width: 1500px; margin: 80px auto; } 
.banner-item { position: relative; overflow: hidden; border-radius: 5px; transition: transform 0.3s ease; cursor: pointer;} 
.banner-item:hover { transform: scale(1.05); } 
.banner-item img { width: 100%; } 

.banner-grid2 { display: grid; grid-template-columns: repeat(3, 1fr); grid-auto-rows: minmax(200px, auto); gap: 40px; max-width: 1500px; margin: 80px auto; } 
/* airplane */
.airplane figure { position: absolute; top: 35%; right: 0; z-index: -1; animation: fly 15s linear infinite;} 
/* 비행기 애니메이션 정의 */
@keyframes fly {
    0% {
        right: -100px; /* 시작 위치: 배너의 왼쪽 바깥 */
        transform: translateY(-50%) scaleX(1); /* 원래 방향 유지 */
    }
    50% {
        right: calc(100% - 100px); /* 오른쪽 끝으로 이동 */
        transform: translateY(-50%) scaleX(1); /* 오른쪽 끝에서 원래 방향 유지 */
    }
    60% {
        right: calc(100% - 100px); /* 오른쪽 끝에서 이미지가 반전됨 */
        transform: translateY(-50%) scaleX(-1); /* 오른쪽 끝에서 반전된 상태로 유지 */
    }
    100% {
        right: -100px; /* 다시 왼쪽으로 돌아감 */
        transform: translateY(-50%) scaleX(-1); /* 왼쪽으로 이동하면서 반전 상태 유지 */
    }
}
#banner .cloud figure { position: absolute; bottom: -10%; left: 0; z-index: -1; animation: floatAnimation 22s infinite; } 
/* artwork */
#artwork { padding-top: 20%; position: relative; z-index: -1; } 
#artwork .centerbox1200 {} 
#artwork h1 { font-size: 72px; text-align: center; color: #fff; font-family: 'JalnanGothic'; text-shadow: 4px 5px 14px rgba(0, 0, 0, 0.4); position: relative; } 
#artwork h1::before { content: ""; position: absolute; width: 28%; height: 10px; background: #000; bottom: 15px; left: 36%; z-index: -3; }
#artwork .cloud figure { position: absolute; top: 0; left: 0; z-index: -1; animation: floatAnimation 18s infinite; }
#artwork .artwork_grid {display: grid; grid-template-columns: repeat(4, 1fr); grid-auto-rows: minmax(200px, auto); gap: 40px; max-width: 1500px; margin: 80px auto; }
.artwork-item { position: relative; overflow: hidden; border-radius: 5px; transition: transform 0.3s ease; cursor: pointer;} 
.artwork-item:hover { transform: scale(1.2); } 
.artwork-item img { width: 100%; box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4); } 
#artwork .artwork-item span {display: flex; justify-content: center; margin-top: 10px; font-size: 24px; font-family: 'Pretendard-Medium';}
/* graphic */
#graphic { padding-top: 10%; position: relative; z-index: -1; } 
#graphic .centerbox1200 {} 
#graphic h1 { font-size: 72px; text-align: center; color: #fff; font-family: 'JalnanGothic'; text-shadow: 4px 5px 14px rgba(0, 0, 0, 0.4); position: relative; } 
#graphic h1::before { content: ""; position: absolute; width: 28%; height: 10px; background: #000; bottom: 15px; left: 36%; z-index: -3; }
#graphic .graphic-grid {display: grid; grid-template-columns: repeat(3, 1fr); grid-auto-rows: minmax(200px, auto); gap: 60px; max-width: 1500px; margin: 80px auto; }

.graphic-item { position: relative; overflow: hidden; border-radius: 5px; transition: transform 0.3s ease; cursor: pointer; } 
.graphic-item:hover { transform: scale(1.05) ; } 


.graphic-item img { width: 100%; /* backface-visibility: hidden; */ transition: .3s;box-shadow: 4px 5px 14px rgba(0, 0, 0, 0.4);}
.graphic-item .backcard {position: absolute; width: 100%; height: 100%; background: rgba(0, 0, 0, .5); left: 0; top: 0; transition: .3s; color: #fff; transform: rotateY(180deg); backface-visibility: hidden; display: flex; justify-content: center; align-items: center;}

.graphic-item.on img {transform: rotateY(180deg);}
.graphic-item.on .backcard {transform: rotateY(0deg);}



#graphic .graphic-grid2 { display: grid; grid-template-columns: repeat(2, 1fr); grid-auto-rows: minmax(200px, auto); gap: 60px; max-width: 1500px; margin: 10px auto; } 
#graphic .graphic-grid2 .graphic-item img {width: 100%;}
#graphic .cloud figure { position: absolute; top: 20%; left: 0; z-index: -1; animation: floatAnimation 18s infinite; }
#graphic .cloud figure img {width: 80%;}

/* footer */
#contact {background-image: url('../images/bg.png'); background-repeat: no-repeat; background-position: center bottom; margin-top: 10%; display: flex; justify-content: center; align-items: center; width: 100%; }
#contact .centerbox1200 {max-width: 1200px; margin: 0 auto; padding: 0 20px; position: relative;}
.contact-info {width: 1300px; height: 600px; margin: 0 auto; padding: 20px; background: rgba(255, 255, 255, 0.2); border-radius: 15px; position: absolute; top: 20%; left: -4%;} 
.contact-info h2 {text-align: left; font-size: 40px; color: #fff;}
.contact-info p {margin: 10px 0; position: relative; font-size: 35px; color: #fff;}
.contact-info p.phone {position: absolute; bottom: 24%; left: 20px;}
.contact-info p.mail {position: absolute; bottom: 14%; left: 20px;}
.contact-info p.instagram {position: absolute; bottom: 4%; left: 20px;}
.contact-info span {position: absolute; bottom: 0; right: 0; padding: 30px; font-size: 50px; color: #fff; font-weight: bold;}
.rainbow {display: flex; justify-content: center; /* 가로로 중앙 정렬 */
align-items: center; /* 세로로 중앙 정렬 (필요 시) */}
.rainbow figure {margin: 0; /* 기본 figure 여백 제거 */}
.rainbow img {height: auto; /* 이미지의 비율 유지 */ }

